# my C++ formatting rules
BasedOnStyle: Chromium
Language: Cpp
Standard: Cpp11

IndentWidth: 2
UseTab: Never
ColumnLimit: 80
AlignTrailingComments: true
AlignConsecutiveAssignments: true
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeTernaryOperators: true
BraceWrapping:
  BeforeElse: true
Cpp11BracedListStyle: false
IncludeBlocks: Merge
IndentWrappedFunctionNames: false
CommentPragmas: "^ TODO:"
SortIncludes: true
DerivePointerAlignment: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: Never
PointerAlignment: Left
